---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: apimanagementtenants.integreatly.org
spec:
  group: integreatly.org
  names:
    kind: APIManagementTenant
    listKind: APIManagementTenantList
    plural: apimanagementtenants
    singular: apimanagementtenant
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: APIManagementTenant is the Schema for the APIManagementTenants
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: APIManagementTenantSpec defines the desired state of APIManagementTenant
            type: object
          status:
            description: APIManagementTenantStatus defines the observed state of APIManagementTenant
            properties:
              lastError:
                type: string
              provisioningStatus:
                type: string
              tenantUrl:
                type: string
            required:
            - lastError
            - provisioningStatus
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
